<a href="https://colab.research.google.com/github/barileao/SVM_Scania/blob/master/svm_scania.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalando packages

In [1]:
!pip install pyod
!pip install impyute

Collecting pyod
  Downloading https://files.pythonhosted.org/packages/f9/40/2bffcde2edbbea4e8ae50a868684fd285d746401bd8051732d3a6d6111c4/pyod-0.7.5.tar.gz (86kB)
     |████████████████████████████████| 92kB 2.6MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pyod) (0.14.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from pyod) (3.1.1)
Requirement already satisfied: numpy>=1.13 in /usr/local/lib/python3.6/dist-packages (from pyod) (1.17.3)
Requirement already satisfied: numba>=0.35 in /usr/local/lib/python3.6/dist-packages (from pyod) (0.40.1)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from pyod) (1.3.1)
Requirement already satisfied: scikit_learn>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from pyod) (0.21.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pyod) (1.12.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyod) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyod) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyod) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyod) (2.6.1)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.35->pyod) (0.30.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->pyod) (41.4.0)
Building wheels for collected packages: pyod
  Building wheel for pyod (setup.py) ... done
  Created wheel for pyod: filename=pyod-0.7.5-cp36-none-any.whl size=96597 sha256=4f726b9c12e47f6bca2e782e70a2dae324d0a5e15ed64db692cdecb5fe29961c
  Stored in directory: /root/.cache/pip/wheels/35/bc/f4/2cef321eac851ba02f533e3921b296bb4ce4998c8a4c9a8d6e
Successfully built pyod
Installing collected packages: pyod
Successfully installed pyod-0.7.5
Collecting impyute
  Downloading https://files.pythonhosted.org/packages/37/28/86829f67c9affb847facaab94687761d3555539ec675f7577778c5b2680a/impyute-0.0.8-py2.py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from impyute) (1.17.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from impyute) (1.3.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from impyute) (0.21.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->impyute) (0.14.0)
Installing collected packages: impyute
Successfully installed impyute-0.0.8

# Imports

In [2]:
# importing all the necessary libraries
from google.colab import files
import io
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from tqdm import tqdm 
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.impute import SimpleImputer,MissingIndicator
from sklearn.decomposition import TruncatedSVD
from xgboost import XGBClassifier
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
from sklearn.metrics import confusion_matrix,f1_score,log_loss
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn import svm
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import missingno as msno
from sklearn.decomposition import PCA
from datetime import datetime
from pyod.models.auto_encoder import AutoEncoder
from pyod.models.feature_bagging import FeatureBagging
from fancyimpute import SoftImpute
from impyute.imputation.cs import mice

Using TensorFlow backend.

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

# Acessar os dados no Drive

In [3]:
from google.colab import drive
drive.mount('/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /drive

# Upload dos dados

In [4]:
filetrain = r'/drive/My Drive/IFES/TCC_Scania/Codes/aps_failure_training_set.csv'
filetest = r'/drive/My Drive/IFES/TCC_Scania/Codes/aps_failure_test_set.csv'

train = pd.read_csv(filetrain)
print('Number of data points in the train dataset', train.shape[0])
print('Number of features in the given train dataset', train.shape[1])
test = pd.read_csv(filetest)
print('Number of data points in the test dataset', test.shape[0])
print('Number of features in the given test dataset', test.shape[1])

Number of data points in the train dataset 60000
Number of features in the given train dataset 171
Number of data points in the test dataset 16000
Number of features in the given test dataset 171

In [5]:
# ----------------------Train--------------------------------

# Replacing all the class labels as follows:

# neg = 0
# pos = 1
class_labels_train = []
for x in tqdm(train.index):        # tqdm = barra de progresso
    if train['class'].loc[x] == 'neg':
        class_labels_train.append(0)
        
    else:
        class_labels_train.append(1)
        

train['class'] = class_labels_train

# Distrubution of class labels in train dataset
train['class'].value_counts()

100%|██████████| 60000/60000 [00:02<00:00, 26383.47it/s]

0    59000
1     1000
Name: class, dtype: int64

# Histograma

In [0]:
# Histogram plot of class labels of train dataset
plt.hist(train['class'])
plt.title("Histogram plot of class labels")
print("Percentage of negative class in the given dataset :", (train[train['class']== 0].shape[0] / train.shape[0]) * 100)
print("Percentage of positive class in the given dataset :", (train[train['class']== 1].shape[0] / train.shape[0]) * 100)

# Remover e substituir NAN e NA

In [6]:
# ----------------------Train--------------------------------
# Replacing the na and nan values with np.NaN
train.replace(to_replace='nan', value = np.NaN,inplace = True)

train.replace(to_replace = 'na', value = np.NaN, inplace = True)

columns_names = train.columns

train.describe(include='all')

# Dropping all the columns where the number of missing values are more than 42K (>70%)
train.dropna(axis = 1, thresh=42000,inplace= True)
train.head()

   class  aa_000      ac_000 ad_000 ae_000  ...  ee_007  ee_008 ee_009 ef_000 eg_000
0      0   76698  2130706438    280      0  ...  157956   73224      0      0      0
1      0   33058           0    NaN      0  ...   81140   97576   1500      0      0
2      0   41040         228    100      0  ...  158022   95128    514      0      0
3      0      12          70     66      0  ...       0       0      0      4     32
4      0   60874        1368    458      0  ...  311560  433954   1218      0      0

[5 rows x 161 columns]

# Train data: mediana, média e mais frequente

In [7]:
# using median
impute_median = SimpleImputer(missing_values= np.nan, strategy='median',copy = True, verbose= 2)
train_median = pd.DataFrame(impute_median.fit_transform(train),columns=train.columns)
train_median['class'].value_counts()
#train_imputed_median.to_csv("Train_imputed_median")

# using mean
#impute_mean = SimpleImputer(missing_values= np.nan, strategy='mean',copy = True, verbose= 2)
#train_mean = pd.DataFrame(impute_mean.fit_transform(train),columns=train.columns)
#train_imputed_mean.to_csv("Train_imputed_mean")

# using most frequent
#impute_most_frequent = SimpleImputer(missing_values= np.nan, strategy='most_frequent',copy = True, verbose= 2)
#train_most_frequent = pd.DataFrame(impute_most_frequent.fit_transform(train),columns=train.columns)
#train_imputed_most_frequent.to_csv("Train_imputed_most_frequent")

# Feature engineering, creating a new feature set which indicates 
# the missing value in a given row and column as True else False
#missing_impute = MissingIndicator()
#miss = missing_impute.fit_transform(train)
#train_miss_indi = pd.DataFrame(miss)
#train_miss_indi.to_csv('train_miss_indi.csv')

0.0    59000
1.0     1000
Name: class, dtype: int64

# Retirar os Outliers para o treinamento

In [8]:
#coletando os outliers do train para 'trainol'
trainol_median = train_median.loc[(train_median['class'] ==1)]
#print(trainol_median)

#removendo os outliers para treinamento 
train_median = train_median[train_median['class'] != 1]
print(train_median)
train_median['class'].value_counts()

       class    aa_000        ac_000  ...    ee_009  ef_000  eg_000
0        0.0   76698.0  2.130706e+09  ...       0.0     0.0     0.0
1        0.0   33058.0  0.000000e+00  ...    1500.0     0.0     0.0
2        0.0   41040.0  2.280000e+02  ...     514.0     0.0     0.0
3        0.0      12.0  7.000000e+01  ...       0.0     4.0    32.0
4        0.0   60874.0  1.368000e+03  ...    1218.0     0.0     0.0
...      ...       ...           ...  ...       ...     ...     ...
59995    0.0  153002.0  6.640000e+02  ...   28588.0     0.0     0.0
59996    0.0    2286.0  2.130707e+09  ...       0.0     0.0     0.0
59997    0.0     112.0  2.130706e+09  ...       0.0     0.0     0.0
59998    0.0   80292.0  2.130706e+09  ...  388422.0     0.0     0.0
59999    0.0   40222.0  6.980000e+02  ...     158.0     0.0     0.0

[59000 rows x 161 columns]

0.0    59000
Name: class, dtype: int64

# Padronizando os dados

In [0]:
# Get column names first
names = train.columns

# Create the Scaler object
scaler = preprocessing.StandardScaler()

# Fit your data on the scaler object - train_imputed_median
train_median = scaler.fit_transform(train_median)
train_median = pd.DataFrame(train_median, columns=names)
trainol_median = scaler.fit_transform(trainol_median)
trainol_median = pd.DataFrame(trainol_median, columns=names)

# Fit your data on the scaler object - train_imputed_mean
#train_mean = scaler.fit_transform(train_mean)
#train_mean = pd.DataFrame(train_mean, columns=names)

# Fit your data on the scaler object - train_imputed_most_frequent
#train_most_frequent = scaler.fit_transform(train_most_frequent)
#train_most_frequent = pd.DataFrame(train_most_frequent, columns=names)

# Retirar a coluna ['class'] do train e trainol

In [0]:
train_median = train_median.drop(['class'], axis =1)
trainol_median = trainol_median.drop(['class'], axis =1)

# Training: One-Class SVM

In [48]:
oneclass = svm.OneClassSVM(kernel='rbf',verbose=True)

oneclass.fit(train_median)
#oneclass.fit(train_mean)
#oneclass.fit(train_most_frequent)

[LibSVM]

OneClassSVM(cache_size=200, coef0=0.0, degree=3, gamma='auto_deprecated',
            kernel='rbf', max_iter=-1, nu=0.5, random_state=None,
            shrinking=True, tol=0.001, verbose=True)

# Salvar arquivo com Pickle

In [0]:
import pickle

# salvar arquivo de treino
filename = 'finalized_model_median.sav'
pickle.dump(oneclass, open(filename, 'wb'))

In [0]:
import pickle

# carregar arquivo de treino
loaded_model = pickle.load(open('/drive/My Drive/IFES/TCC_Scania/finalized_model_median_woclass.sav', 'rb'))
#result = loaded_model.score(X_test, Y_test)
#print(result)

# Predict

In [24]:
teste = trainol_median

#pred = oneclass.predict(teste)
pred_teste = loaded_model.predict(teste)

#print('pred teste = ', pred_teste)

# tirado de: https://scikit-learn.org/stable/auto_examples/svm/plot_oneclass.html
n_error_test = pred_teste[pred_teste == -1].size
print('erro teste = ', n_error_test)

erro train =  29500
erro teste =  1000